@import "main.css";

.form-control:focus {
    box-shadow: none;
    border-color: var(--cor-principal-clara);
}

.form-select:focus {
    box-shadow: none;
    border-color: var(--cor-principal-escura);
}

.form-button {
    background: var(--cor-primeira);
    box-shadow: none;
    border: none;
}

.form-button:hover {
    background: var(--cor-principal-clara);
}

.form-button:focus {
    background: var(--cor-principal-escura);
    box-shadow: none;
}

.form-button:active {
    background: var(--cor-principal-escura);
    box-shadow: none;
}

.form-button-back:focus {
    background: var(--cor-principal-escura);
    box-shadow: none;
}

.form-button-back {
    background: var(--cor-segunda-clara);
    box-shadow: none;
    border: none;
}

.form-button-back:hover {
    background: var(--cor-segunda);
}

.form-button-filter {
    background: var(--cor-segunda);
    box-shadow: none;
    border: none;
}

.form-button-filter:active {
    background: var(--cor-segunda);
    box-shadow: none;
}

.form-button-filter:hover {
    background: var(--cor-segunda-clara);
}


.form-icons-edit {
    color: var(--cor-principal-clara);

}

.form-icons-delete {
    color: var(--cor-terceira);

}

.form-icons-info {
    color: var(--cor-quarta);

}

.form-icons-important {
    color: red;
    font-size: x-small;
}


.form-checkbox {
    font-size: large;
    margin-top: 30px;
}

.form-checkbox-label {
    margin-top: 32px;
    margin-left: 10px;
    color: var(--cor-segunda);
}

.form-label-error {
    color: red;
}


.labels-form {
    font-size: 13px;
    padding: 2;
}

.titulo-form {
    font-weight: 800;
    margin-left: -8px;
    font-size: large;
}

.subtitulo-form {
    font-weight: 500;
    margin-left: -2px;
    font-size: medium;
}

.painel {
    border-style: solid;
    border-color: silver;
    margin: auto;
    width: 95%;
    margin-top: 10%;
}

.table {
    font-family: var(--body-font);
    font-size: smaller;
}

#btn_pesquisar {
    margin-top: 19px;

    width: 150px;
}

.filter-panel {
    margin: auto;
    width: 100%;
}

.form-paginate {
    color: var(--cor-principal-escura);
}